name: Build

on: [push]

jobs:
  build:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install
        run: npm i
      - name: Build
        run: npm run build
        env:
          NODE_PATH: 'src'
      